.add-task-modal-content{
    padding: 2rem 1.5rem;
    width: 500px;
    overflow-y: auto;
    max-height: 90vh;
}
.add-task-modal-content h1{
    font-family: 'Roboto Slab', sans-serif;
    padding-bottom: 1rem;
}
.add-task-modal-content label{
    font-weight: 600;
    padding-bottom: 0.5rem;
}

.add-task-modal-content input, .add-task-modal-content textarea{
    background: var(--gray-clr);
}
.add-task-modal-content input{
    height: auto;
}