.navbar-main{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding: 1rem 0;
    z-index: 100;
    background: var(--light-clr);
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 600;
    max-width: 80px
}

.nav-menu-list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-menu-list li{
    padding: 0 1rem;
}

.nav-menu-list li a{
    font-size: 1.2rem;
    font-weight: 500;
    transition: all 0.5s;
}

.nav-menu-list li a:hover, .nav-menu-list li a.active {
    background-color: var(--accent-clr);
    color: var(--light-clr);
    padding: 0.3rem 0.6rem;
    border-radius: 12px;
}

